.cdt {
    &-dialog {
        &-container {
            visibility: hidden;
            transition: all 0.2s;
            opacity: 0;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 9;
            background: rgba(0, 0, 0, 0.4);
            &.show {
                visibility: visible;
                opacity: 1;
                .cdt-dialog {
                    transform:  translate(-50%, calc(-50% - 40px)) scale(1);
                }
            }
        }
        transition: all 0.2s;
        position: fixed;
        left: 50%;
        top: 50%;
        transform-origin: 50% 100%;
        transform: translate(-50%, -50%) scale(0.7);
        z-index: 10;
        background: #fff;
        border-radius: 2px;
        width: 560px;
        min-height: 40px;
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        header {
            height: 64px;
            box-sizing: border-box;
            padding: 24px;
        }
        main {
            padding: 10px 24px 15px 24px;
            font-size: 16px;
            color: #666;
        }
        .actions {
            height: 50px;
            display: flex;
            padding: 8px 10px;
            justify-content: flex-end;
            align-items: center;
            button {
                margin-left: 4px;
                font-weight: bold;
                &:hover {
                    opacity: 0.4;
                }
            }
        }
    }
}