* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
p {
    margin-top: 0;
    margin-bottom: 0.8rem;
    line-height: 1.4rem;
}
pre {
    margin: 0;
}
iframe {
    width: 100%;
    min-height: 200px;
}