.cdt {
  &-secondary {
    ul li .cdt-list-item {
      padding-left: 20px;
      @media screen and (max-width: 768px) {
        flex-grow: 1;
      }
    }
    p {
      padding-left: 20px;
    }
  }
  &-nav {
    @media screen and (max-width: $desktop-breakpoint) {
      border-bottom: 1px solid #eee;
    }
    li.selected {
      &>.cdt-list-item {
        
        &:before {
          content: '';
          height: 60%;
          width: 2px;
          position: absolute;
          background-color: $primary-color;
          left: -8px;
          top: 50%;
          transform: translateY(-50%);
        }
        color: $primary-color;
        a {
          color: $primary-color;
        }
      }
    }
    li {
      .cdt-list-item {
        position: relative;
        a:hover {
          color: $primary-color;
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
  &-top-nav {
    &.sticky {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
    }
    &.hide-on-scroll {
      position: sticky;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 9999;
    }
    display: flex;
    background: #fff;
    &.dark {
      background: #333;
      color: #fff;
      .logo a {
        color: #fff;
      }
      &.border {
        .navigations nav ul li {
          &.selected, :hover {
            a {
              border-color: #fff;
              color: #fff;
            }
            border-color: #fff;
            color: #fff;
          }
          
        }
      }
    }
    flex-wrap: wrap;
    position: relative;
    .navigations {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    .mobile-trigger {
      @media screen and (min-width: $mobile-breakpoint) {
        display: none;
      }
      position: absolute;
      width: 30px;
      height: 30px;
      display: block;
      right: 20px;
      &.left {
        right: auto;
        left: 20px;
        + .logo {
          margin-left: 50px;
        }
      }
      top: 50%;
      z-index: 10;
      transform: translateY(-50%);
      cursor: pointer;
      &.open {
        span {
          visibility: hidden;
          &:before {
            visibility: visible;
            transform-origin: 0 0;
            transform: translate(5px, -4px) rotate(45deg);
          }
          &:after {
            visibility: visible;
            transform-origin: 0 0;
            transform: translate(5px, 3px) rotate(-45deg);
          }
        }
      }
      span {
        width: 30px;
        height: 2px;
        background: #666;
        position: absolute;
        display: block;
        top: 50%;
        transition: all 0.1s;
        &:before,
        &:after {
          transition: all 0.2s;
          content: '';
          position: absolute;
          width: 30px;
          height: 2px;
          background: #666;
          left: 0;
        }
        &:before {
          top: -7px;
        }
        &:after {
          top: 7px;
        }
      }
    }
    .logo {
      position: relative;
      display: flex;
      flex-grow: 0;
      padding-left: 10px;
      align-items: center;
      min-height: 58px;
      @media screen and (max-width: $mobile-breakpoint) {
        //width: 100%;
      }
      &.center {
          position: relative;
          width: 100%;
          text-align: center;
          justify-content: center;
        @media screen and (min-width: $desktop-breakpoint) {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
      }
    }
    nav a {
      display: block;
      padding: 20px 20px;
      text-decoration: none;
      color: #666;
      &:hover {
        color: $primary-color;
      }
    }
    &.underline {
      .navigations nav ul li {
        &:hover,
        &.selected {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            background: $primary-color;
          }
        }
      }
    }
    &.highlight {
      .navigations nav ul li {
        transition: all 0.2s;
        &:hover,
        &.selected {
          background: lighten($primary-color, 50%);
        }
      }
    }
    &.border {
      .navigations {
        &:not(.underline):not(.highlight) {
          padding: 20px 0 20px !important;
        }
      }
      .navigations nav ul li {
        a {
          border: 1px solid transparent;
          border-radius: 2px;
        }
        margin: 0 5px;
        @media screen and (max-width: 700px) {
          margin: 5px;
        }
        transition: all 0.2s;
        a {
          &:hover {
            border: 1px solid $primary-color;  
          }
        }
        &.selected {
          a {
            color: $primary-color;
            border: 1px solid $primary-color;
          }
          
        }
      }
    }
    &.menu-right {
      .navigations:nth-of-type(2) {
        nav:last-child {
          margin-left: auto;
        }
      }
    }
    &.menu-center {
      .logo {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
      .navigations:nth-of-type(2) {
        nav:last-child {
          margin: auto;
        }
      }
    }
    .navigations {
      background: #fff;
      &.hide {
        display: none;
      }
      @media screen and (max-width: 1024px) {
        //height: 100%;
      }
      &.cdt-second-nav {
        @media screen and (max-width: $mobile-breakpoint) {
          display: none;
        }
        flex-basis: 100%;
        display: flex;
        clear: both;
        &.center {
          justify-content: center;
        }
        &.right {
          justify-content: flex-end;
        }
      }
      @media screen and (max-width: $mobile-breakpoint) {
        // display: none;
        // position: absolute;
        // background: #fff;
        // width: 100%;
        // z-index: 999999999;
        // top: 60px;
        // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        // height: 100vh;
        // overflow-y: scroll;
        // padding-bottom: 80px;
      }
      &.show {
        display: block;
      }
      &.underline {
        nav ul li {
          border: 0;
          a {
            border: 0;
          }
          &:hover,
          &.selected {
            a {
              border: 0;
            }
            &:after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 3px;
              background: $primary-color;
            }
          }
        }
      }
      &.light {
        background: #fff;
        nav {
          ul {
            li {
              &.selected, &:hover {
                a {
                  color: $primary-color !important;
                }
                &:after {
                  background: $primary-color;
                }
              }
              a {
                  color: #aaa;
              }
            }
          }
        }
      }
      &.dark {
        background: #333;
        nav {
          ul {
            li {
              &.selected, &:hover {
                a {
                  color: #fff;
                }
                &:after {
                  background: #fff;
                }
              }
              a {
                  color: #aaa;
              }
            }
          }
        }
      }
    }
    .mobile-navigation {
      @media screen and (max-width: $desktop-breakpoint) {
        display: none;
      }
      display: none;
      position: absolute;
      background: #fff;
      width: 100%;
      z-index: 999999999;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      overflow-y: scroll;
      padding-bottom: 80px;
      &.open {
        display: block;
      }
    }
    
    nav {
      &:not(.no-responsive) {
        @media screen and (max-width: $tablet-breakpoint) {
          display: none;
        }
      }
      @media screen and (min-width: $desktop-breakpoint) {
        height: 100%;
      }
      &:nth-of-type(2) {
        margin-left: auto;
      }
      margin: 0 30px 0 30px;
      :not(.no-responsive) {
        @media screen and (max-width: $tablet-breakpoint) {
          width: 100%;
          flex-grow: 1;
          margin: 0;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        @media screen and (min-width: $desktop-breakpoint) {
          height: 100%;
        }
        li {
          align-items: center;
          display: flex;
          @media screen and (max-width: $mobile-breakpoint) {
            flex-basis: 100%;
          }
          position: relative;
          &> a {
            width: 100%;
          }
        }
      }
      &.no-responsive {
        ul {
          li {
            @media screen and (max-width: $mobile-breakpoint) {
              flex-basis: auto;
            }
          }
        }
      }
    }
  }
}