.cdt {
    &-table {
        width: 100%;
        position: relative;
        overflow-x: auto;
        table {
          width: 100%;
          th, td {
            padding: 14px 0;
            border-bottom: 1px solid $gray-color-4;
          }
          thead {
            th {
              text-align: left;
              font-weight: 500;
            }
          }
        }
    }
}